* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body {
    background: linear-gradient(150deg, #d49f2eb8 65%, #1b149cc4 35%);
    height: 100vh;
}
h1 {
    display: flex;
    justify-content: center;
    font-size: 55px;
    margin-top: 2em;
    color: rgb(20, 18, 147);
    margin-bottom: 20px;
}
.logout {
    display: block;
    margin: 20px;
    background: #f4deb7d8;
    width: fit-content;
    padding: 6px;
    border-radius: 6px;
    transition: all 0.5s ease-in-out;
}
section {
    display: grid;
    place-items: center;
    max-width: fit-content;
    margin: auto;
    border-radius: 10px;
    font-size: 24px;
}
p {
    color: rgba(240, 255, 255, 0.721);
}
h2 {
    color: rgba(136, 66, 28, 0.721);
}
li {
    list-style: none;
    background: #f4deb792;
    padding: 10px;
    border-radius: 8px;
    margin-top: 10px;
    transition: all 0.5s ease-in-out;
}
.logout:hover,
li:hover {
    transform: scale(103%);
    box-shadow: 0 0 15px #629bf1;
    transition: all 0.5s ease-in-out;
    color: rgba(21, 11, 114);
    background: #f4deb7;
}
a {
    text-decoration: none;
    color: rgba(21, 11, 114, 0.701);
    font-weight: 600;
}