main {
    align-items: justify;
    text-align: center;
    font-family: Arial, sans-serif;
    border: 5px solid #000;
    border-radius: 15px;
    border-width: auto;
    width: 50rem;
    height: 50vh;
    margin: 100px auto;
    margin-bottom: 15px;
    align-content: center;
    background-color: #b0a7ff;
}


button a {
   width: 25px;
   align-items: center;
   color: beige ;
}

button a:hover {
    border: #000000;
    height: 10px;
    width: 25px;
}